
@{
    ViewBag.Title = "notFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> Search Results </h1>
                    <h3 style="color: red"> Sorry, no items found</h3>
                    <ul class="breadcumb">
                        <li class="active"><a href="../../Home/MainPage">Home</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

